@page
@model RazorPagesRoomReservations.Pages.Rooms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model.Room)
    {
            <div class="col-md-4">
                @await Html.PartialAsync("_RoomCard", item)
            </div>
    }
</div>

@section Styles {
    @{await Html.RenderPartialAsync("_RoomCardStylesPartial");}
}